*{
  border:none;
  padding:0;
  margin:0;
}

#tools{
  background:#444;
  padding:8px;
  border-top:4px solid #FFF;
}

.color{
  width:64px;
  height:64px;
  border:8px solid #000;
  float:left;
  margin:4px;
}

.color.selected {
  border-color: #FFF;
}

.c1{ background:#F00;}
.c2{ background:#FA0;}
.c3{ background:#FF0;}
.c4{ background:#AF0;}
.c5{ background:#0F0;}
.c6{ background:#0FA;}
.c7{ background:#0FF;}
.c8{ background:#0AF;}
.c9{ background:#A0F;}
.c10{background:#F0F;}
.c11{background:#F0A;}
.c12{background:#AAA;}
.c13{background:#FFF;}
.clear{clear:both;}






